<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PartyLine</title>
    <link rel="stylesheet" href="/css/partyline.css">
    <script src="/js/partyline.js" defer></script>

</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <a href="/search"><img src="/images/partyline_logo_horizontal-03.png"></a>
        </div>
        
		<%- include('partials/partyMenu') %>

        <div class="join">
            <a href="/party">Join A New Party</a>
        </div>
    </div>
    <div class="content">
        <div class="topbar">
            <%- include('partials/userBar') %>
            <div class="search">
				<%- include('partials/searchBar') %>
            </div>
        </div>
        <div class="main">
            <div class="sidemenu">
                <h2><%= partyName %></h2>
                <p><%= partyDescription %></p>
				<%
				let amSubscribed = false;
				for ( let i = 0; i < partyMenu.length; i++ ) {
					if ( partyMenu[i].id == partyId ) {
						amSubscribed = true;
					}
				}
				
				if ( ! amSubscribed ) { 
				%> 
				<form method="post" action="/subscribe/<%= partyId %>"><input type="submit" value="Join Party"></form>
				<% } %>
                <ul>
					<li><a href="/party/<%= partyId %>/new">Create Sub-Party</a></li>
					<%
						if ( subParties.length ) {
							for ( let i = 0; i < subParties.length; i++ ) {
					%>
					<li><a href="/party/<%= subParties[i].id %>"><%= subParties[i].name %></a></li>
					<%			
							}
						}
					%>
                </ul>

				
            </div>
            <div class="chat">
                <div class="messages" id="newMessages">
                    <% 

                    let newestMessageId = 0;
					for ( let i = 0; i < messages.length; i++ ) {
                        newestMessageId = messages[i].id;
					%>
                    <div class="message"> 
                        <div class="username">User <%= messages[i].user_id %></div>
                        <div class="timestamp"><%= messages[i].sent_on %></div>
                        <div class="messageText"><%= messages[i].message %></div>
                        
                    </div>
					<% } %>
                    
                    <script>
                        var newestMessage = <%=newestMessageId%>;
                        var party_id = <%=partyId%>;
                    </script>
                </div>
				<% if ( user_id ) { %>
                <div class="chatform">
                    <div class="newMessage">
                        <form method="post" action="/party/<%= partyId %>">
                            <label for="newMessage"></label>
                            <input type="text" id="newMessage" name="newMessage" placeholder="Message Goes Here...">
                        </form>
                    </div>
                </div>
				<% } else { %>
				<div class="chatform"><a href="/login">You can only post to this if you are logged in.</a></div>
				<% } %>
            </div>
        </div>
    </div>
</body>
</html>

