<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PartyLine</title>
    <link rel="icon" type="image/png" href= "/images/partyline_favicon_16x16px-01.png">
    <link rel="stylesheet" href="/css/partyline.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <a href="/search"><img src="/images/partyline_logo_horizontal-03.png"></a>
        </div>
        
		<%- include('partials/partyMenu') %>

        <div class="join">
            <a href="/party">Join A New Party</a>
        </div>
    </div>
    <div class="content">
        <div class="topbar">
            <%- include('partials/userBar') %>
            <div class="search">
				<%- include('partials/searchBar') %>
            </div>
        </div>
        <div class="results">
            <div id="searchpartyTitle">
                <h1>Party Results</h1>
                    <table id="searchParty" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                            <th><span>Party</span></th>
                            <th><span>Members</span></th>
                            <th><span>Join A Party</span></th>
                            </tr>
                        </thead>
                        <tbody>
							<%
							if ( parties.length ) {  
								for ( let i = 0; i < parties.length; i++ ) { 
							%>
                            <tr>
                            <td><a style="color:white;" href="/party/<%= parties[i].id %>"><%= parties[i].name %></a></td>
                            <td><%= parties[i].count_users %></td>
                            <td>
								<% if ( myParties[ parties[i].id ] ) { %> 
									<p>Subscribed</p>
								<% } else { %>
                                    <br>
								<form method="post" action="/subscribe/<%= parties[i].id %>"><input type="submit" value="Join Party"></form>
								<% } %>
							</td>
                            </tr>
							<%
								} // end of for loop
							} else {
							%>
							<tr>
								<td><em>No parties matching that query.</em></td>
                            </tr>
							<%	
							}	 
							%>
                        </tbody>
                    </table>
                </div> 
            <div class="messageResults">
                <h1> Message Results</h1>
                <%
				if ( messages.length ) {  
					for ( let i = 0; i < messages.length; i++ ) { %>
                <div class="searchMessage"> 
                    <div class="username"><%= messages[i].user_id %></div>
                    <div class="timestamp"><%= messages[i].sent_on %></div>
                    <div class="messageText"><%= messages[i].message %></div>
                </div>
				<% 
					} 
				} else {
				%>
				<div class="searchMessage">
					<p>No results found</p>
				</div>
				<%
				}
				%>
            </div>
        </div>
        </div>
    </div>
</body>
</html>